<%- include("header") -%>

<h1>This is About</h1>
<p>Qaajsdjaj qwjelajsdljaj jqkelj. Aqwejkjasdjasj jsdjalsjd jasjd jadajsodj ojasdjs
asdjasdjasljdlajsld. Weqwjaskldjkljqwljelajsld ajsdkljkalsjdk kaljdklj</p>

<%- include("footer") -%>
